/* --------------------------------------------
  Blog
 ---------------------------------------------- */
.blog-item {
  border-top: 1px solid rgbaGenerate($white, 0.12);
  @include flex(start, space-between);
  gap: 70px;
  padding: 16px 0;
  &:last-child {
    border-bottom: 1px solid rgbaGenerate($white, 0.12);
  }
  @include breakpoint(max-xxl) {
    gap: 30px;
  }
  @include breakpoint(max-md) {
    gap: 20px;
    p {
      font-size: 14px;
      color: $gray;
    }
  }
  @include breakpoint(max-lg) {
    flex-wrap: wrap;
  }
  h3 {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    @include breakpoint(max-xl) {
      font-size: 26px;
    }
  }
  .blog-title {
    font-size: 24px;
    line-height: 34px;
    width: 430px;
    transition: none;
    a {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: $theme-1;
    }
    @include breakpoint(max-xl) {
      font-size: 20px;
      width: 330px;
    }
    @include breakpoint(max-md) {
      width: 250px;
    }
    @include breakpoint(max-sm) {
      width: 350px;
    }
  }
  .blog-thum {
    width: 183px;
    height: 183px;
    border-radius: 50%;
    float: right;
    overflow: hidden;
    opacity: 0;
    img {
      transform: scale(0);
      transition: 0.6s all;
      border-radius: 50%;
    }
    @include breakpoint(max-md) {
      height: 100px;
      width: 100px;
      opacity: 1;
    }
    @include breakpoint(max-sm) {
      display: none;
    }
  }
  &.active {
    .blog-thum {
      opacity: 1;
      img {
        transform: scale(1);
      }
    }
  }
}

.blog-page-item {
  background-color: $dark-2;
  padding: 35px;
  border-radius: 10px;
  border: 1px solid rgbaGenerate($white, 0.12);
  display: flex;
  flex-direction: column;
  gap: 35px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  .blog-info {
    @include flex(center, start);
    position: relative;
    .category {
      margin-right: 10px;
      padding-right: 10px;
      position: relative;
      @include flex(end, start);
      &::after {
        content: "";
        width: 4px;
        height: 4px;
        background-color: $white;
        position: absolute;
        right: 0;
        border-radius: 50%;
        margin-bottom: 6px;
      }
    }
    &::before {
      content: "";
      width: 50px;
      height: 2px;
      background-color: $white;
      margin-right: 20px;
    }
  }
  h4 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
  }
  .blog-ex {
    color: $gray;
  }
  .blog-page-thum {
    border-radius: 10px;
    overflow: hidden;
  }
}

.widget-sidebar {
  background: $dark-2;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgbaGenerate($white, 0.12);
  .widget-sidebar-item {
    &:not(:last-child) {
      margin-bottom: 60px;
    }

    .widget-sidebar-title {
      font-size: 24px;
      line-height: 62px;
      border-bottom: 1px solid rgbaGenerate($white, 0.12);
      margin-bottom: 30px;
    }
    .sidebar-search {
      form {
        display: flex;
      }
      input {
        background: $dark;
        border: none;
        margin-bottom: 0;
        height: 60px;
        border-radius: 8px 0 0 8px;
      }
      i {
        height: 60px;
        width: 60px;
        @include flex();
        background-color: $theme-1;
        color: $dark;
        border-radius: 0 8px 8px 0;
      }
    }

    .category-list {
      a {
        @include flex(center, space-between);
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        i {
          height: 20px;
          width: 20px;
          @include flex;
          background-color: $white;
          color: $dark;
          border-radius: 2px;
          font-size: 12px;
        }
        &:hover {
          color: $theme-1;
          i {
            background-color: $theme-1;
          }
        }
      }
    }

    .recent-posts {
      .recent-post-item {
        @include flex(center, start);
        gap: 20px;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          border-radius: 10px;
        }
        h5 {
          font-size: 18px;
          line-height: 28px;
          a {
            &:hover {
              color: $theme-1;
            }
          }
        }
        p {
          color: $theme-1;
          margin-top: 20px;
        }
      }
    }

    .tags {
      @include flex(start, start);
      flex-wrap: wrap;
      gap: 10px;
      a {
        text-transform: uppercase;
        padding: 8px 15px;
        border: 1px solid rgbaGenerate($white, 0.12);
        border-radius: 10px;
        font-size: 14px;
        background-color: $dark;
        &:hover {
          background-color: $theme-1;
          color: $dark;
        }
      }
    }
  }
}

.blog-pagination {
  margin-top: 60px;
  ul {
    display: flex;
    gap: 20px;
  }
  a {
    height: 56px;
    width: 56px;
    background-color: $white;
    border-radius: 8px;
    color: $dark;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.current {
      background-color: $theme-1;
    }
    &:hover {
      background-color: $theme-1;
    }
  }
}

.blog-details-content_top {
  margin-top: -125px;
  z-index: 2;
  position: relative;
  background-color: $dark-2;
  border-radius: 10px;
  text-align: center;
  padding: 60px 180px;
  @include breakpoint(max-xxl) {
    padding: 60px 160px;
  }
  @include breakpoint(max-lg) {
    padding: 60px 100px;
  }
  @include breakpoint(max-md) {
    padding: 60px;
    margin-top: -50px;
  }
  @include breakpoint(max-xs) {
    padding: 60px 30px;
  }
  h1 {
    font-size: 48px;
    line-height: 58px;
    @include breakpoint(max-md) {
      font-size: 36px;
      line-height: 48px;
    }
    @include breakpoint(max-xs) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .tag {
    background-color: $theme-1;
    color: $dark-2;
    display: inline-flex;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .meta-tag {
    @include flex(start, center);
    gap: 10px;
    margin-bottom: 35px;
  }
  .blog-details-author {
    margin-top: 45px;
    @include flex();
    gap: 50px;
    .author-details {
      @include flex();
      gap: 20px;
      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
    }
    p {
      color: $gray;
    }
    h6 {
      margin-top: 5px;
      font-size: 16px;
      line-height: 26px;
      color: $white;
      font-weight: 600;
    }
    .viewed,
    .author-details-content {
      text-align: left;
    }
  }
}

.blog-details-content {
  h4,
  img {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 30px;
    @include breakpoint(max-md) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  p {
    color: $gray;
    margin-bottom: 20px;
    line-height: 1.6;
  }
}

blockquote {
  background-color: $dark-2;
  padding: 30px 50px;
  border-radius: 10px;
  margin: 30px 0;
  p {
    font-size: 20px;
    line-height: 30px;
    @include breakpoint(max-md) {
      font-size: 18px;
    }
  }
  h6 {
    font-size: 18px;
    margin-top: 30px;
  }
}

.blog-details-tag-share {
  margin-top: 60px;
  @include flex(center, space-between);
  padding: 20px 0;
  border-top: 1px solid rgbaGenerate($white, 0.12);
  border-bottom: 1px solid rgbaGenerate($white, 0.12);
  @include breakpoint(max-md) {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  h6 {
    font-size: 20px;
    font-weight: 700;
  }
}

.blog-comments {
  margin-top: 120px;
  .comment-title {
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 35px;
  }
  input,
  textarea {
    background-color: $dark-2;
    padding: 18px 30px;
  }
  textarea {
    height: 170px;
  }
}
