/* --------------------------------------------
 Others
 ---------------------------------------------- */
.brand-items {
  @include flex(center, space-between);
  border: 1px solid rgbaGenerate($white, 0.12);
  border-radius: 15px;
  @include breakpoint(max-md) {
    flex-wrap: wrap;
  }
  .brand-item {
    border-right: 1px solid rgbaGenerate($white, 0.12);
    height: 105px;
    width: 100%;
    @include flex(center, center);
    @include breakpoint(max-md) {
      width: 50%;
      border-bottom: 1px solid rgbaGenerate($white, 0.12);
      &:nth-child(2n) {
        border-right: 0;
      }
      &:last-child {
        border-bottom: 0;
        border-right: 1px solid rgbaGenerate($white, 0.12) !important;
      }
    }
    &:last-child {
      border-right: 0;
    }
    img {
      filter: brightness(0) saturate(100%) invert(65%) sepia(0%) saturate(1111%)
        hue-rotate(239deg) brightness(93%) contrast(94%);
      width: 110px;
      transition: 0.3s all;
    }
    &:hover {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7488%) hue-rotate(85deg) brightness(105%) contrast(97%);
    }
  }
}

/** Price */
.price-list-item {
  background-color: $dark;
  padding: 60px;
  border-radius: 15px;
  @include breakpoint(max-md) {
    padding: 30px;
  }
  h2 {
    font-size: 60px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 30px;
    span {
      font-size: 20px;
      line-height: 40px;
      font-weight: 400;
      color: $gray;
      margin-left: -10px;
    }
    @include breakpoint(max-xxsmall) {
      font-size: 45px;
    }
  }
  ul {
    @include flex(center, start);
    flex-wrap: wrap;
    gap: 20px;
    li {
      width: calc(50% - 20px);
      color: $gray;
      font-size: 18px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      @include breakpoint(max-xxsmall) {
        font-size: 16px;
      }
      @include breakpoint(max-sm) {
        width: 100%;
      }
      &:before {
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        background-color: $theme-1;
        border-radius: 50%;
      }
    }
  }
  h4 {
    font-size: 30px;
    line-height: 40px;
  }
}

/** faq_area */

.faq_area {
  .accordion-item {
    border-radius: 0 !important;
    background-color: transparent;
    border: 0;
    border-top: 1px solid rgbaGenerate($white, 0.12);
    &:last-child {
      border-bottom: 1px solid rgbaGenerate($white, 0.12);
    }
  }
  .accordion-button:not(.collapsed) {
    box-shadow: none !important;
  }
  .accordion-header {
    button {
      background: transparent;
      border: none !important;
      font-size: 24px;
      font-weight: 600;
      color: $white;
      border-radius: 0 !important;
      padding: 30px 0;
      cursor: pointer;
    }
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion {
    .accordion-body {
      background: transparent;
      padding: 0 0 30px 0;
      p {
        color: $gray;
      }
    }
  }

  .accordion-button::after {
    content: "\e905";
    font-family: "icomoon" !important;
    width: 20px;
    height: 20px;
    font-weight: 400;
    background-image: none;
  }

  .accordion-button:not(.collapsed)::after {
    content: "\e905";
    font-family: "icomoon" !important;
    width: 20px;
    height: 20px;
    transform: rotate(100deg);
  }
}

// setps-item
.setps-item {
  background-color: $dark;
  padding: 30px;
  border-radius: 10px;
  h4 {
    font-size: 30px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 30px;
    span {
      margin-right: 10px;
    }
  }
  p {
    color: $gray;
    line-height: 28px;
  }
  .setps-feature {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid rgbaGenerate($white, 0.12);
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        color: $gray;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          display: block;
          background-color: $theme-1;
          border-radius: 50%;
        }
      }
    }
  }
}
