/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$montserrat: "Montserrat", sans-serif;

.font-montserrat {
  font-family: $montserrat;
}
html {
  overflow-x: hidden;
}
body {
  font-family: $montserrat;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

input:focus {
  color: $white;
  outline: none;
}

input {
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
  margin: 0px;
  padding: 0;
  @include transition;
  color: inherit;
}

h1 {
  font-size: 80px;
  line-height: 120%;
  font-weight: 700;
  @include breakpoint(max-sm) {
    font-size: 55px;
  }
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: unset;
  @include transition;
}

p {
  margin: 0px;
  @include transition;
}
